* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgba(221, 221, 221, 0.7);
}

/* Outer Frame Section */

.outer-frame {
  position: absolute;
  display: flex;
  width: 95%;
  height: 80%;
  background-color: white;
  left: 2.5%;
  top: 10%;
  border-radius: 15px;
}

.left-nav {
  width: 20%;
  height: 100%;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 15px;
}

.centre-main {
  width: 60%;
  height: 100%;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 15px;
}

/* Left Section */

.logo {
  border: 1px solid black;
  background-color: transparent;
  padding: 1rem;
  padding-bottom: 3rem;
  display: flex;
  font-weight: 800;
}

.logo h1 {
  font-size: 1rem;
  background-color: transparent;
}

.logo img {
  margin: 1rem;
  width: 50px;
  background-color: transparent;
}
