<%- include("partials/header") -%>
<div class="container">
  <div class="head-logo">
    <a href="/"><h1>Snacker Tracker</h1></a>
  </div>
  <div class="form-contain">
    <form action="/snack-add" method="post" class="user-form">
      <div class="name-contain">
        <label for="name">Snack name:</label>
        <input type="text" name="name" id="snackName" autocomplete="off" />
      </div>
      <div class="name-contain">
        <label for="age">Description:</label>
        <input type="text" name="desc" id="snackDesc" autocomplete="off" />
      </div>
      <div class="name-contain">
        <label for="age">Image URL:</label>
        <input type="text" name="url" id="snackURL" autocomplete="off" />
      </div>
      <button type="submit" class="user-submit-btn">Add</button>
    </form>
  </div>
  <div class="user-add">
    <i class="fas fa-plus-square active-icon"></i>
  </div>
  <div class="foot-nav">
    <!-- <a href="/dash"><i class="fas fa-chart-line"></i></a> -->
    <a href="/users"><i class="fas fa-user"></i></a>
    <a href="/snacks"><i class="fas fa-utensils"></i></a>
    <a href="/add"><i class="fas fa-mortar-pestle"></i></a>
  </div>
</div>
<%- include("partials/footer") -%>
