<%- include("partials/header") -%>
<div class="container">
  <div class="head-logo">
    <h1> Snacker Tracker</h1>
  </div>
  <div class="foot-nav">
    <a href="#"><i class="fas fa-chart-line"></i></a>
    <a href="/users"><i class="fas fa-user" ></i></a>
    <a href="#"><i class="fas fa-utensils"></i></a>
    <a href="/add"><i class="fas fa-mortar-pestle"></i></a>
  </div>
</div>
<%- include("partials/footer") -%>
