<%- include("partials/header") -%>
<div class="container">
  <div class="head-logo">
    <a href="/"><h1><%= title %></h1></a>
  </div>
  <p>Add registration option</p>
  <p>Add dates on last user eaten on Snack analytics</p>
  <div class="foot-nav">
    <a href="/dash"><i class="fas fa-chart-line"></i></a>
    <a href="/users"><i class="fas fa-user" ></i></a>
    <a href="/snacks"><i class="fas fa-utensils"></i></a>
    <a href="/add"><i class="fas fa-mortar-pestle"></i></a>
  </div>
</div>
<%- include("partials/footer") -%>
